
html {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
}

@font-face {
	font-family: 'nk57';
	src: url('../fonts/nk57.ttf');
}

@font-face {
	font-family: 'nk57 light';
	src: url('../fonts/nk57light.ttf');
}

@font-face {
	font-family: 'nk57 bold';
	src: url('../fonts/nk57bold.ttf');
}

.container {
	margin: auto;
	display: block;
	position: relative;
	width: 80%;
	padding-bottom: 5%;
}

.flex {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

div img {
	border: 8px solid white;
	margin-top: 3%;
}

h1 {
	font-family: 'nk57';
	color: white;
	font-size: 45px;
	text-align: center;
}

h2 {
	color: #990101;
	font-family: 'nk57';
	text-transform: uppercase;
	font-size: 40px;
}

.example {
	padding-bottom: 0;
}

h3 {
	font-family: 'nk57 light';
	font-size: 1.75rem;
	color: #410000;
	padding-top: 2%;
	font-size: 30px;
}

h4 {
	font-family: 'EB Garamond', serif;
	color: grey;
	font-size: 15px;
}

p {
	font-family: 'EB Garamond', serif;
	font-size: 25px;
	padding-top: 4.5%;
}

img {
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25), 0 7px 22px 0 rgba(0, 0, 0, 0.25);
}

a {
	text-decoration: none;
	color: #008080;
}

a:hover {
	font-weight: 600;
}

.adj {
	font-family: 'nk57';
	text-transform: uppercase;
	color: black;
	font-size: 40px;
	margin-top: 3%;
}

.button {
	background-color: #ffffff;
	border: 5px solid #008080;
	color: #008080;
	padding: 20px 0%;
	font-family: 'nk57 bold';
	font-size: 35px;
	margin-top: 3%;
	width: 45%;
}

.button:hover {
    background-color: #008080;
    color: white;
    transition: 0.7s;
}

.hover {
	padding: 20px 0%;
	font-family: 'nk57 bold';
	font-size: 35px;
    background-color: #008080;
    color: white;
	border: 5px solid #008080;
	margin-top: 3%;
	margin-left: 6%;
	width: 45%;
}

.hover:hover {
	background-color: #ffffff;
	color: #008080;
    transition: 0.7s;
}

header {
	background-color: black;
	padding: 1px 5%;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25), 0 7px 22px 0 rgba(0, 0, 0, 0.25);
	margin-bottom: 100px;
	box-sizing: border-box;
}

main {
	padding-top: 5%;
}

.logo {
	width: 13%;
	display: block;
	padding-top: 30px;
	min-width: 250px;
	margin: auto;
	text-align: center;
}

.color {
	margin-left: 4%;
}

article + article {
	padding-top: 5%;
}

section + section {
	padding-top: 5%;
}

.adj + .adj {
	padding-left: 6%;
}

h2 + .flex {
	padding-top: 2%;
}

@media all and (min-width: 670px) {

	.logo {
		position: absolute;
		z-index: 1000;
		display: inline-block;
		min-width: 250px;
	}

	h1 {
		font-size: 45px;
		display: inline-block;
		padding-left: 260px;
		text-align: left;
	}

	header {
		margin-bottom: 225px;
	}

	.flex {
		justify-content: space-between;
	}

	.color {
		margin: 0;
	}
}

@media all and (min-width: 900px) {

	.container {
		width: 80%;
	}

	aside {
		float: left;
		width: 50%;
	}

	main {
		float: right;
		width: 50%;
		padding: 0;
		padding-left: 5%;
		box-sizing: border-box;
	}

	header {
		margin-bottom: 175px;
	}

	.color {
		max-width: 80px;
		max-height: 80px;
	}

	.texture {
		max-width: 130px;
		max-height: 130px;
	}

	h1 {
		padding-left: 350px;
	}

	h2 {
		font-size: 30px;
	}

	h3 {
		font-size: 25px;
	}

	p {
		font-size: 20px;
	}

	.logo {
		min-width: 200px;
		margin-left: 5%;
	}

	.adj {
		font-size: 30px;
	}
}
